@font-face {
    font-family: 'Graphik LCG';
    src: url(./font-family/GraphikLCG-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Graphik LCG';
}

header {
    width: 100%;
    background-color: white;
    color: #051534;
    position: fixed;
    z-index: 1;
}

.container_header {
    max-width: 1920px;
    padding: 15px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 100px;
}

.header_list {
    display: flex;
    list-style: none;
    align-items: center;
}

.list_wrap {
    display: flex;
}

.list_wrap div {
    padding: 0 5px;
}

.header_list a, .demo_wrap a {
    text-decoration: none;
    font-size: 18px;
}

.header_list li {
    margin-right: 30px;
}

.record_demo_wrap {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
}

.record_demo_wrap:hover {
    border: 1px solid rgba(5, 21, 52, 0.30);
}

.img_record_demo {
    width: 22px;
    height: 22px;
    padding-left: 10px;
}

.record_demo_btn  {
    background-color: white;
    width: 236px;
    border: 1px solid white;
    text-align: center;
    padding-left: 0;
}

.record_demo_btn:active{
    font-size: 17px;
}

.header_action {
    display: flex;
    gap: 10px;
}

header button {
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    height: 42px;
}

.sign_in_btn {
    border: 1px solid rgba(5, 21, 52, 0.30);
    background-color: white;
    width: 92px;
    gap: 8px;
}

.sign_in_btn:hover {
    background-color: #051534;
    transition: background-color 0.5s ease-in-out;
    color: white;
}

.sign_in_btn:active{
    font-size: 16px;
}

.sign_up_btn {
    background-color: #0F8FF9;
    border: none;
    color: white;
    width: 221px;
}

.sign_up_btn:hover {
    background-color: #0f59f9;
    transition: background-color 0.5s ease-in-out;
}

.sign_up_btn:active {
    font-size: 17px;
}


.container_balance_head {
    width: 100%;
    background-color: #FBFBFB;
    color: #051534;
}

.balance_head_wrap {
    max-width: 830px;
    margin: 0 auto;
    padding-top: 230px;
    text-align: center;
}

.balance_head_title {
    font-size: 65px;
    font-weight: 700;
}

.balance_head_text {
    padding: 20px 0 40px 0;
    font-size: 22px;
    line-height: 33px;
}

.green_btn {
    color: #fff;
    background-color: #00C064;
    width: 374px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    margin-bottom: 70px;
}

.img_balance_hero {
    max-width: 830px;
}


.container_balance_main {
    width: 100%;
}

.balance_items_wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.balance_item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 228px;
}

.report_img_bg {
    background-color: #F9F9F9;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.img_flower {
    margin-top: -20px;
}

.report_text {
    font-size: 32px;
    line-height: 48px;
    width: 900px;
}

.balance_description{
    max-width: 500px;
    padding: 0 40px;
}

.balance_item_title {
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}

.balance_item_text {
    font-size: 22px;
    line-height: 33px;
    padding-top: 20px;
}


.video {
    text-align: center;
    padding-top: 60px;
}

.video_header {
    max-width: 946px;
    margin: 0 auto;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    background-color: #333B4D;
}

.circle_wrap {
    display: flex;
    gap: 8px;
    padding: 14px 20px;
}

.balance_accounting_in_adesk {
    max-width: 946px;
    margin: 0 auto;
    padding: 250px 20px;
    text-align: center;
}


footer {
    width: 100%;
    background-color: #051534;
    color: white;
}

.footer_wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer_logo {
    display: flex;
    gap: 15px;
    padding: 60px 0;
}

.logo_text {
    width: 208px;
    font-size: 22px;
    line-height: 26.4px;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 100px;
}

footer ul {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    max-width: 261px;
}

footer ul li, footer div ul {
    list-style: none;
    padding-top: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #8394B5;
}

footer ul li a:hover {
    color: white;
}

.course_wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

.foo_num {
    cursor: pointer;
    padding: 15px 0;
}

.container_contacts {
    padding: 15px 0;
}


.cards_app {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cards, .app {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.app a {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.20);
}

.app a:hover {
    border: 2px solid white;
}


.documents_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.documents, .documents a {
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
}

.documents a:hover {
    color: white;
}

.documents a {
    text-decoration: none;
}

.social {
    display: flex;
    align-items: center;
    gap: 30px;
}
